
.dialog-header{
   background-color:cadetblue;
}
.title{
    color:aliceblue;
}
.icon-colse{
    background-color:white;
}
.icon{
    color: red;
    padding-top: 4px;
}
.dialog-content{
    padding-left: 10px;
    padding-top: 8px;
}
.left{
    padding-left: 8px;
    color: blue;
}


